{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Delete List</h3>
            <p class="card-text">Are you sure you want to delete the list <i>{{ object.title }}</i>?</p>

            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes, delete</button>
                <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
